services:
  app:
    image: lihaozhe013/tradeflow-core:latest
    container_name: tradeflow-core-prod
    restart: always
    network_mode: "host"
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
