name: MYF TradeFlow System and Dev Env build
on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "npm"
      - name: Install dependencies and build project
        run: |
          npm run ci:all
          mkdir -p data
          cp -r config-example/* data
          npm run build
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: myf-tradrflow-system-build
          path: ./dist/